/* line 1, ../../compass/sass/styles.scss */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

@keyframes color-change {
  0% {
    background-color: #7FD1B9;
  }
  25% {
    background-color: #FFC09F;
  }
  50% {
    background-color: #FFEE93;
  }
  75% {
    background-color: #258EA6;
  }
  100% {
    background-color: #7FD1B9;
  }
}
@keyframes text-color-change {
  0% {
    color: black;
  }
  25% {
    color: black;
  }
  50% {
    color: black;
  }
  75% {
    color: #f9f9f9;
  }
  100% {
    color: black;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* line 34, ../../compass/sass/styles.scss */
.navbar {
  width: 100%;
  height: 200px;
  background-color: white;
  text-align: center;
}
/* line 40, ../../compass/sass/styles.scss */
.navbar .navbar-item {
  height: 50px;
  padding-top: 20px;
  width: 8%;
  display: inline-block;
}
/* line 45, ../../compass/sass/styles.scss */
.navbar .navbar-item .ebay-logo {
  width: 100px;
}
/* line 51, ../../compass/sass/styles.scss */
.navbar .navbar-item .navbar-search-input {
  margin-top: 20px;
}

/* line 58, ../../compass/sass/styles.scss */
.sub-menu {
  width: 60% auto;
  height: 20px;
  text-align: center;
}
/* line 63, ../../compass/sass/styles.scss */
.sub-menu .sub-menu-item {
  width: 8%;
  display: inline-block;
}
/* line 68, ../../compass/sass/styles.scss */
.sub-menu .sub-menu-pipe {
  font-size: 18px;
}

/* line 73, ../../compass/sass/styles.scss */
hr {
  width: 60%;
  border-width: 1px;
  border-color: darkgrey;
}

/* line 81, ../../compass/sass/styles.scss */
.landing-page-wrapper {
  width: 60%;
  text-align: center;
  height: 1000px;
  border: 1px solid black;
  margin: auto;
}

/* line 90, ../../compass/sass/styles.scss */
.listing1, .listing2, .listing3 {
  margin-top: 45px;
  margin-bottom: 25px;
  width: 25%;
}

/* line 96, ../../compass/sass/styles.scss */
.listing-image {
  float: left;
}

/* line 103, ../../compass/sass/styles.scss */
.auction-image {
  height: 100px;
  width: 100px;
}
