/* line 1, ../../compass/sass/styles.scss */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  animation: color-change 30s infinite;
}

@keyframes color-change {
  0% {
    background-color: #7FD1B9;
  }
  25% {
    background-color: #FFC09F;
  }
  50% {
    background-color: #FFEE93;
  }
  75% {
    background-color: #258EA6;
  }
  100% {
    background-color: #7FD1B9;
  }
}
@keyframes text-color-change {
  0% {
    color: black;
  }
  25% {
    color: black;
  }
  50% {
    color: black;
  }
  75% {
    color: #f9f9f9;
  }
  100% {
    color: black;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* line 32, ../../compass/sass/styles.scss */
.navbar1 {
  background-color: black;
  height: 150px;
  color: white;
}

/* line 37, ../../compass/sass/styles.scss */
.brand {
  height: 50px;
  position: absolute;
  float: left;
  margin-right: 50px;
}

/* line 43, ../../compass/sass/styles.scss */
.logo {
  width: 500px;
  text-align: center;
}

/* line 48, ../../compass/sass/styles.scss */
.search-box {
  width: 400px;
  text-align: center;
}

/* line 52, ../../compass/sass/styles.scss */
.search-button {
  width: 300px;
  text-align: center;
}

/* line 56, ../../compass/sass/styles.scss */
.main-image {
  height: 500px;
  width: 500px;
  border: 1px dashed black;
}

/* line 62, ../../compass/sass/styles.scss */
form {
  text-align: center;
  margin-top: 17%;
}
/* line 65, ../../compass/sass/styles.scss */
form input {
  position: absolute;
  border: 40px ridge !important;
  background-color: #258EA6;
  box-shadow: 10px 10px 5px black;
  color: black;
  text-align: center;
  font-size: 54px;
  margin-right: 15px;
  height: 210px;
  width: 330px;
  left: 600px;
  animation: border-color-change 10s infinite linear !important;
}
/* line 81, ../../compass/sass/styles.scss */
form input::-webkit-input-placeholder {
  color: black !important;
  font-size: 30px;
}
/* line 85, ../../compass/sass/styles.scss */
form button {
  text-align: center;
  height: 210px;
  width: 330px;
  color: black;
  background-color: #258EA6 !important;
  font-size: 48px !important;
  border: 40px ridge !important;
  box-shadow: 10px 10px 5px black;
  position: absolute;
  left: 1000px;
  animation: border-color-change 10s infinite linear !important;
}

@keyframes border-color-change {
  0% {
    border-color: red;
  }
  12% {
    border-color: orange;
  }
  25% {
    border-color: yellow;
  }
  37% {
    border-color: lightgreen;
  }
  50% {
    border-color: lightblue;
  }
  62% {
    border-color: purple;
  }
  75% {
    border-color: violet;
  }
  100% {
    border-color: red;
  }
}
