/* line 1, ../../compass/sass/styles.scss */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #FAF8FA !important;
}

@keyframes color-change {
  0% {
    background-color: #7FD1B9;
  }
  25% {
    background-color: #FFC09F;
  }
  50% {
    background-color: #FFEE93;
  }
  75% {
    background-color: #258EA6;
  }
  100% {
    background-color: #7FD1B9;
  }
}
@keyframes text-color-change {
  0% {
    color: black;
  }
  25% {
    color: black;
  }
  50% {
    color: black;
  }
  75% {
    color: #f9f9f9;
  }
  100% {
    color: black;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* line 34, ../../compass/sass/styles.scss */
.navbar {
  width: 100%;
  height: 150px;
  background-color: #FAF8FA !important;
  text-align: center;
}
/* line 40, ../../compass/sass/styles.scss */
.navbar .navbar-item {
  height: 50px;
  padding-top: 20px;
  width: 8%;
  display: inline-block;
}
/* line 45, ../../compass/sass/styles.scss */
.navbar .navbar-item .ebay-logo {
  width: 100px;
}
/* line 51, ../../compass/sass/styles.scss */
.navbar .navbar-item .navbar-search-input {
  margin-top: 20px;
}

/* line 58, ../../compass/sass/styles.scss */
.sub-menu {
  width: 60% auto;
  height: 20px;
  text-align: center;
}
/* line 63, ../../compass/sass/styles.scss */
.sub-menu .sub-menu-item {
  width: 8%;
  display: inline-block;
  height: 50px;
}
/* line 69, ../../compass/sass/styles.scss */
.sub-menu .sub-menu-pipe {
  font-size: 18px;
}

/* line 74, ../../compass/sass/styles.scss */
.nav-hr {
  width: 60%;
  border-width: 1px;
  border-color: darkgrey;
}

/* line 82, ../../compass/sass/styles.scss */
.landing-page-wrapper {
  width: 60%;
  text-align: center;
  margin: auto;
}

/* line 91, ../../compass/sass/styles.scss */
.listing {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  width: 25%;
  display: inline-block;
  border: 1px dashed lightgrey;
  height: 400px;
  background-color: white;
  box-shadow: 3px 3px 10px #888888;
}

/* line 103, ../../compass/sass/styles.scss */
.listing-image-wrapper {
  width: 100%;
}
/* line 105, ../../compass/sass/styles.scss */
.listing-image-wrapper .listing-image {
  margin-top: 10px;
  height: 200px;
  width: 200px;
}

/* line 114, ../../compass/sass/styles.scss */
.listing-text-wrapper {
  width: 100%;
}
/* line 116, ../../compass/sass/styles.scss */
.listing-text-wrapper .listing-text {
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
}
/* line 124, ../../compass/sass/styles.scss */
.listing-text-wrapper .listing-description {
  margin-top: 10px;
}
/* line 128, ../../compass/sass/styles.scss */
.listing-text-wrapper .listing-hr {
  border-color: lightgrey;
  width: 80%;
}
